# Ignorar dependencias de Node.js
node_modules/

# Ignorar archivos de logs
*.log

# Ignorar archivos de configuración específicos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos temporales de editores y entornos de desarrollo
*.sublime-workspace
*.sublime-project
.vscode/
.idea/

# Ignorar archivos de sistemas operativos
*.swp
*.lock
*~

# Ignorar archivos de configuración de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar dependencias instaladas por Pipenv o Poetry
Pipfile.lock
poetry.lock

# Ignorar archivos de configuración de Docker
docker-compose.override.yml

# Ignorar archivos de entorno (.env)
.env
.env.local
.env.test
.env.production